body{
    margin: 0px;
    font-family: sans-serif;
}
.containar-1{
background-color: #2424a0;
display: flex;
padding: 40px;
padding-top: 45px;
padding-left: 120px;
}
.containar-1 a{
    color: white;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
}
.button {
    transition: 5s;
}
.button :hover{
    transform: rotate(360deg);

}
.button-1{
    display: flex;
    margin-top: -5px;
    margin-left: 500px;
    padding:10px 20px;
    color: white;
    background-color: #e62444;
    border: 1px solid transparent #e62444;
    transition: transform 2s;
}
.containar-2 {
    display: flex;
    margin-top: -15px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#2424a0 ;
}
.containar-2 h1{
    color: white;
    font-family: sans-serif;
    padding-left: 110px;
    line-height: 25px;
font-size: 75px;
}
.button-2{

    margin-left: 110px;
    padding:10px 50px;
    color: white;
    background-color: #e62444;
    text-decoration:none ;
}
.image-1 img{
    width: 500px;
    padding-left: 200px ;
}
.box-1 {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
}
.player{
        padding-top: 15px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 5px;
        box-shadow: 0px 0px 30px #00000046 ;
}
.player img{
width: 330px;
justify-content: center;
align-items: center;

}

.container-4{
    display:flex;
    padding-top: 10em;
    margin-left: 200px;
    margin-right: 150px;
}
.box-2 h1{
    width: 469px;
    padding-top: 45px;
    font-size: 50px;
line-height: 1px;

}
.box-2 img{
width: 567px;
height: 427px;
padding-bottom: 100px;
}
.container-5 div{
    margin-left: 12em;
}
.logo-1 img{
    width: 478px;
    padding-top:100px ;
}
.logo-2{
    padding-left: 180px;
}
.logo-2 img ,i {
    width: 35px;
    padding-right: 10px;
}
footer{
    text-align: center;
    padding-bottom: 100px;
}

@media only screen and (max-width:688px) {
    #containar-1{
        width: 100%;
    } 
    .containar-1{
        display: none;
    }
    .containar-2{
        flex-direction: column;

    }
    .containar-3{
        grid-template-columns: repeat(1, 1fr);
    }
    .box-1{
        flex-direction: column;
    }
    .container-4{
        flex-direction: column;
    }
    .box-2 img {
        width: 500px;
    }
    .container-5 div{
        width: 100%;
        margin-left: 6em;
    }
    .foot{
        margin-left: 18em;
    }


}




